@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

html {
  font-size: 62.5%;
}

body {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
  color: $black;
}

h1 a {
  background-image: url(../src/assets/Logo-hodu.png);
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
}

