main {
  width: calc(100vw - 1.5rem);
  .slide-img-wrap {
    width: calc(100vw - 1.5rem);
    height: 25vh;
    min-height: 40rem;
    background-color: $lightgray-color;
    position: relative;
    .left {
      @include main-slide-img-btn;
      left: 3rem;
      transform: rotate(0.5turn) translateY(50%);
    }

    .right {
      @include main-slide-img-btn;
      right: 3rem;
      transform: translateY(-50%);
    }
    .slide-list-btn {
      position: absolute;
      left: 50%;
      bottom: 2rem;
      transform: translateX(-50%);
      button {
        padding: 0.3rem;
        border-radius: 2rem;
        background-color: $white;
        margin: 0 0.3rem;

        &.active {
          background-color: $black;
        }
      }
    }
  }
  .main-product {
    @include blank-wrap-x;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3.6vw;
    margin-bottom: 9vh;
    .product-wrap {
      margin-top: 4vh;
      img {
        min-width: 16rem;
        width: 20vw;
        min-height: 16rem;
        height: 20vw;
        cursor: pointer;
      }
      .product-store {
        margin-top: 1.6rem;
        font-size: map-get($map: $font-size, $key: small);
        line-height: map-get($map: $line-height, $key: small);
        color: $darkgray-color;
      }
      .product-title {
        margin-top: 1rem;
        font-size: map-get($map: $font-size, $key: medium);
        line-height: map-get($map: $line-height, $key: medium);
        cursor: pointer;
      }
      .product-price {
        margin-top: 1rem;
        font-size: map-get($map: $font-size, $key: large);
        line-height: map-get($map: $line-height, $key: large);
        font-weight: map-get($map: $font-weights, $key: bold);
        & span {
          font-size: map-get($map: $font-size, $key: small);
          line-height: map-get($map: $line-height, $key: small);
          font-weight: map-get($map: $font-weights, $key: regular);
        }
      }
    }
  }
}
