@mixin center-xy {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin main-header-btn {
  background-repeat: no-repeat;
  width: 3.2rem;
  height: 3.2rem;
  padding-bottom: 0.9rem;
  display: block;
}

@mixin main-slide-img-btn {
  background-image: url(../src/assets/icon-rhigt-arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 6rem;
  height: 12.4rem;
  position: absolute;
  top: 50%;
}

@mixin blank-wrap-x {
  padding-left: 16.7%;
  padding-right: 16.7%;
}

@mixin buy-btn {
  padding: 1.9rem 0;
  border-radius: 0.5rem;
  color: $white;
  font-size: map-get($map: $font-size, $key: medium);
  line-height: map-get($map: $line-height, $key: medium);
  font-weight: map-get($map: $font-weights, $key: bold);
}
