// 색상
$gray-color: #c4c4c4;
$darkgray-color: #767676;
$deepdarkgray-color: #4f4f4f;
$lightgray-color: #f2f2f2;
$main-color: #21bf48;
$white: #fff;
$black: #000;
$error: #eb5757;

// font
$font-weights: (
  "regular": 400,
  "medium": 500,
  "bold": 700,
);
$font-size: (
  "mini": 1.4rem,
  "small": 1.6rem,
  "medium": 1.8rem,
  "large": 2.4rem,
);
$line-height: (
  "mini": 1.75rem,
  "small": 2rem,
  "medium": 2.2rem,
  "large": 3rem,
);
