@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
html {
  font-size: 62.5%;
}

body {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
  color: #000;
}

h1 a {
  background-image: url(../src/assets/Logo-hodu.png);
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
}

.login-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  padding-top: 10rem;
}

.login-logo a {
  width: 23.8rem;
  height: 7.4rem;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 7rem;
}
form .choice-user button {
  border: 1px solid #c4c4c4;
  border-bottom: none;
  border-radius: 1rem 1rem 0 0;
  font-size: 1.8rem;
  line-height: 2.2rem;
  padding: 2rem 7.65rem 2.8rem 7.65rem;
  margin: -2px;
  background-color: #f2f2f2;
  position: relative;
}
form .choice-user button.active {
  background-color: #fff;
  z-index: 10;
}
form .choice-user button.active.buyer::after {
  content: "";
  background-color: #fff;
  width: 1rem;
  height: 2rem;
  position: absolute;
  top: 84.5%;
  left: 98%;
}
form .choice-user button.active.seller::after {
  content: "";
  background-color: #fff;
  width: 1rem;
  height: 2rem;
  position: absolute;
  top: 84.5%;
  right: 98%;
}
form .input-wrap {
  border: 1px solid #c4c4c4;
  border-radius: 1rem;
  width: 55rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3.5rem;
  position: relative;
  top: -1rem;
  background-color: #fff;
}
form .input-wrap input {
  width: 48rem;
  height: 6rem;
  border-bottom: 1px solid #c4c4c4;
  font-size: 1.6rem;
  line-height: 2rem;
}
form .input-wrap input::-moz-placeholder {
  font-size: 1.6rem;
  line-height: 2rem;
  color: #767676;
}
form .input-wrap input::placeholder {
  font-size: 1.6rem;
  line-height: 2rem;
  color: #767676;
}
form .input-wrap input:focus {
  outline: none;
}
form .input-wrap .login-submit {
  background-color: #21bf48;
  color: #fff;
  padding: 1.9rem 21.5rem;
  margin-top: 2.6rem;
  text-wrap: nowrap;
  border-radius: 0.5rem;
  font-size: 1.8rem;
  line-height: 2.2rem;
  font-weight: 700;
}
form .input-wrap .error-text {
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 500;
  color: #eb5757;
  padding-top: 2.6rem;
  margin-right: auto;
}

.btn-wrap a {
  font-size: 1.6rem;
  line-height: 2rem;
  color: #333333;
  box-sizing: content-box;
}
.btn-wrap .sign-up {
  padding-right: 1.4rem;
}
.btn-wrap .sign-up::after {
  content: "|";
  padding-left: 1.4rem;
  color: #333333;
}

header {
  display: flex;
  justify-content: space-between;
  width: calc(100vw - 1.5rem);
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.1019607843);
  position: relative;
  padding-left: 16.7%;
  padding-right: 16.7%;
}
header .main-logo-wrap {
  display: flex;
  align-items: center;
  padding: 2.6rem 0;
}
header .main-logo-wrap .main-logo a {
  width: 12.4rem;
  height: 3.8rem;
}
header .main-logo-wrap .search-box {
  min-width: 25rem;
  width: 20vw;
  padding: 0.3rem 2.2rem;
  border: 2px solid #21bf48;
  border-radius: 5rem;
  margin-left: 3rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .main-logo-wrap .search-box input {
  min-width: 15rem;
  width: calc(20vw - 2rem);
  padding: 1rem 0;
  outline: none;
}
header .main-logo-wrap .search-box input::-moz-placeholder {
  color: #767676;
  font-size: 1.6rem;
  line-height: 2rem;
}
header .main-logo-wrap .search-box input::placeholder {
  color: #767676;
  font-size: 1.6rem;
  line-height: 2rem;
}
header .main-logo-wrap .search-box button {
  background-image: url(../src/assets/search.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 2.8rem;
  height: 2.8rem;
  color: transparent;
}
header .main-header-btn {
  display: flex;
  align-items: center;
  margin-left: 2.6rem;
}
header .main-header-btn .cart-btn {
  text-wrap: nowrap;
  cursor: pointer;
}
header .main-header-btn .cart-btn::before {
  content: "";
  background-image: url(../src/assets/icon-shopping-cart.svg);
  background-repeat: no-repeat;
  width: 3.2rem;
  height: 3.2rem;
  padding-bottom: 0.9rem;
  display: block;
}
header .main-header-btn .login-btn,
header .main-header-btn .my-page-btn {
  margin-left: 2.6rem;
  cursor: pointer;
}
header .main-header-btn .login-btn::before,
header .main-header-btn .my-page-btn::before {
  content: "";
  background-image: url(../src/assets/icon-user.svg);
  background-repeat: no-repeat;
  width: 3.2rem;
  height: 3.2rem;
  padding-bottom: 0.9rem;
  display: block;
  margin: auto;
  text-wrap: nowrap;
}
header .main-header-btn .login-btn.active,
header .main-header-btn .my-page-btn.active {
  color: #21bf48;
}
header .main-header-btn .login-btn.active::before,
header .main-header-btn .my-page-btn.active::before {
  content: "";
  background-image: url(../src/assets/icon-user-2.svg);
  background-repeat: no-repeat;
  width: 3.2rem;
  height: 3.2rem;
  padding-bottom: 0.9rem;
  display: block;
}
header .my-page-modal {
  background-color: #fff;
  position: fixed;
  top: 9rem;
  right: 13.5%;
  width: 13rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 1rem;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2509803922);
  z-index: 10;
}
header .my-page-modal.none {
  display: none;
}
header .my-page-modal::before {
  content: "";
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: -0.5rem;
  background-color: #fff;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2509803922);
  transform: rotateZ(45deg);
  border-radius: 0.4rem;
  z-index: -1;
}
header .my-page-modal::after {
  content: "";
  background-color: #fff;
  width: 5rem;
  height: 3rem;
  position: absolute;
  top: 0;
  z-index: -1;
}
header .my-page-modal .my-page,
header .my-page-modal .logout {
  position: relative;
  width: 11rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #767676;
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 500;
  padding: 1rem 0;
}
header .my-page-modal .my-page:hover,
header .my-page-modal .logout:hover {
  border: 1px solid #767676;
  border-radius: 0.5rem;
  color: #000;
}
header .my-page-modal .my-page {
  margin-top: 1rem;
  margin-bottom: 0.8rem;
}
header .my-page-modal .logout {
  margin-bottom: 1rem;
}

main {
  width: calc(100vw - 1.5rem);
}
main .slide-img-wrap {
  width: calc(100vw - 1.5rem);
  height: 25vh;
  min-height: 40rem;
  background-color: #f2f2f2;
  position: relative;
}
main .slide-img-wrap .left {
  background-image: url(../src/assets/icon-rhigt-arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 6rem;
  height: 12.4rem;
  position: absolute;
  top: 50%;
  left: 3rem;
  transform: rotate(0.5turn) translateY(50%);
}
main .slide-img-wrap .right {
  background-image: url(../src/assets/icon-rhigt-arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 6rem;
  height: 12.4rem;
  position: absolute;
  top: 50%;
  right: 3rem;
  transform: translateY(-50%);
}
main .slide-img-wrap .slide-list-btn {
  position: absolute;
  left: 50%;
  bottom: 2rem;
  transform: translateX(-50%);
}
main .slide-img-wrap .slide-list-btn button {
  padding: 0.3rem;
  border-radius: 2rem;
  background-color: #fff;
  margin: 0 0.3rem;
}
main .slide-img-wrap .slide-list-btn button.active {
  background-color: #000;
}
main .main-product {
  padding-left: 16.7%;
  padding-right: 16.7%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3.6vw;
  margin-bottom: 9vh;
}
main .main-product .product-wrap {
  margin-top: 4vh;
}
main .main-product .product-wrap img {
  min-width: 16rem;
  width: 20vw;
  min-height: 16rem;
  height: 20vw;
  cursor: pointer;
}
main .main-product .product-wrap .product-store {
  margin-top: 1.6rem;
  font-size: 1.6rem;
  line-height: 2rem;
  color: #767676;
}
main .main-product .product-wrap .product-title {
  margin-top: 1rem;
  font-size: 1.8rem;
  line-height: 2.2rem;
  cursor: pointer;
}
main .main-product .product-wrap .product-price {
  margin-top: 1rem;
  font-size: 2.4rem;
  line-height: 3rem;
  font-weight: 700;
}
main .main-product .product-wrap .product-price span {
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 400;
}

footer {
  padding-left: 16.7%;
  padding-right: 16.7%;
  background-color: #f2f2f2;
  width: calc(100vw - 1.5rem);
}
footer .footer-item {
  border-bottom: 1px solid #c4c4c4;
  padding: 6rem 0 2.2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer-item .link-list {
  font-size: 1.4rem;
  line-height: 1.75rem;
}
footer .footer-item .link-list a:nth-child(1)::after {
  content: "|";
  padding: 0 1.4rem;
}
footer .footer-item .link-list a:nth-child(2)::after {
  content: "|";
  padding: 0 1.4rem;
}
footer .footer-item .link-list a:nth-child(3)::after {
  content: "|";
  padding: 0 1.4rem;
}
footer .footer-item .link-list a:nth-child(4)::after {
  content: "|";
  padding: 0 1.4rem;
}
footer .footer-item .link-list a:nth-child(5)::after {
  content: "|";
  padding: 0 1.4rem;
}
footer .footer-item .link-list :nth-child(3) {
  font-weight: 700;
}
footer .sns-list {
  display: flex;
  gap: 1.4rem;
}
footer address {
  margin-top: 3rem;
  padding-bottom: 6.3rem;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: #767676;
}
footer address .company {
  font-weight: 700;
  color: #4f4f4f;
}

.detail-page-wrapper {
  padding-left: 16.7%;
  padding-right: 16.7%;
}

.product-detail {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  margin-top: 5.6vh;
  margin-bottom: 10vh;
  box-sizing: border-box;
}
.product-detail .img-wrapper {
  position: relative;
  width: 60rem;
  aspect-ratio: 1/1;
  overflow: hidden;
  margin: auto;
}
.product-detail .img-wrapper img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.02);
}
.product-detail .info-wrapper {
  width: 63rem;
}
.product-detail .info-wrapper .product-info {
  margin-bottom: 13.8rem;
}
.product-detail .info-wrapper .product-info .store {
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: #767676;
}
.product-detail .info-wrapper .product-info .title {
  font-size: 3.6rem;
  line-height: 4.5rem;
  padding: 1.6rem 0 2rem 0;
}
.product-detail .info-wrapper .product-info .price {
  font-size: 3.6rem;
  line-height: 4.5rem;
  font-weight: 700;
}
.product-detail .info-wrapper .product-info .price span {
  font-size: 1.8rem;
  line-height: 2.2rem;
  font-weight: 400;
}
.product-detail .info-wrapper .buy-info .delivery {
  font-size: 1.6rem;
  line-height: 2rem;
  color: #767676;
  margin-bottom: 2rem;
}
.product-detail .info-wrapper .buy-info .count-wrap {
  border-top: 2px solid #c4c4c4;
  border-bottom: 2px solid #c4c4c4;
  padding: 3rem 0;
  display: flex;
}
.product-detail .info-wrapper .buy-info .count-wrap .minus {
  box-sizing: border-box;
  border: 1px solid #c4c4c4;
  border-right: none;
  width: 5rem;
  height: 5rem;
  border-radius: 0.5rem 0 0 0.5rem;
}
.product-detail .info-wrapper .buy-info .count-wrap .minus img {
  width: 2rem;
}
.product-detail .info-wrapper .buy-info .count-wrap .count {
  border: 1px solid #c4c4c4;
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  line-height: 2.2rem;
}
.product-detail .info-wrapper .buy-info .count-wrap .plus {
  border-radius: 0 0.5rem 0.5rem 0;
  border: 1px solid #c4c4c4;
  border-left: none;
  width: 5rem;
  height: 5rem;
  color: #c4c4c4;
}
.product-detail .info-wrapper .buy-info .count-wrap .plus:disabled {
  background-color: #e0e0e0;
  color: #f2f2f2;
}
.product-detail .info-wrapper .buy-info .price-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3.2rem 0 2.2rem 0;
}
.product-detail .info-wrapper .buy-info .price-info div:nth-child(1) {
  font-size: 1.8rem;
  line-height: 2.2rem;
  font-weight: 500;
}
.product-detail .info-wrapper .buy-info .price-info .count-total span:nth-child(1) {
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: #767676;
}
.product-detail .info-wrapper .buy-info .price-info .count-total span:nth-child(1)::after {
  content: "|";
  padding: 0 1.1rem;
  color: #c4c4c4;
}
.product-detail .info-wrapper .buy-info .price-info .count-total span:nth-child(1) .count-number {
  color: #21bf48;
}
.product-detail .info-wrapper .buy-info .price-info .count-total span:nth-child(2) {
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: #21bf48;
}
.product-detail .info-wrapper .buy-info .price-info .count-total span:nth-child(2) strong {
  font-size: 3.6rem;
  line-height: 4.5rem;
  font-weight: 700;
}
.product-detail .info-wrapper .buy-info .buy-btns {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1.4rem;
}
.product-detail .info-wrapper .buy-info .buy-btns .buy-now {
  background-color: #21bf48;
  padding: 1.9rem 0;
  border-radius: 0.5rem;
  color: #fff;
  font-size: 1.8rem;
  line-height: 2.2rem;
  font-weight: 700;
}
.product-detail .info-wrapper .buy-info .buy-btns .cart-btn {
  background-color: #767676;
  padding: 1.9rem 0;
  border-radius: 0.5rem;
  color: #fff;
  font-size: 1.8rem;
  line-height: 2.2rem;
  font-weight: 700;
}

.product-info-btn {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.product-info-btn button {
  width: 32rem;
  border-bottom: 0.6rem solid #e0e0e0;
  padding-bottom: 1.2rem;
  font-size: 1.8rem;
  line-height: 2.2rem;
  font-weight: 500;
  color: #767676;
}
.product-info-btn button.active {
  border-bottom-color: #21bf48;
  font-weight: 700;
  color: #21bf48;
}

.sign-up-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  padding-top: 10rem;
}

.sign-up-logo a {
  width: 23.8rem;
  height: 7.4rem;
}

.sign-up-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 7rem;
}
.sign-up-form .choice-user button {
  border: 1px solid #c4c4c4;
  border-bottom: none;
  border-radius: 1rem 1rem 0 0;
  font-size: 1.8rem;
  line-height: 2.2rem;
  padding: 2rem 8.8rem 2.8rem 8.7rem;
  margin: -2px;
  background-color: #f2f2f2;
  position: relative;
}
.sign-up-form .input-wrap {
  display: flex;
  align-items: flex-start;
  padding-top: 4rem;
}
.sign-up-form .input-wrap label {
  font-size: 1.6rem;
  line-height: 2rem;
  color: #767676;
}
.sign-up-form .input-wrap input {
  border: 1px solid #c4c4c4;
  border-radius: 0.5rem;
  padding-left: 0.5rem;
  padding: 1.7rem 0 1.7rem 1.6rem;
  height: 5.4rem;
}
.sign-up-form .input-wrap input:focus {
  border: 1px solid #21bf48;
}
.sign-up-form .input-wrap .id-error {
  font-size: 1.6rem;
  line-height: 2rem;
  padding-top: 1rem;
  height: 4rem;
  color: #eb5757;
}
.sign-up-form .input-wrap .id-error.success {
  color: #21bf48;
}
.sign-up-form .input-wrap .error-text {
  font-size: 1.6rem;
  line-height: 2rem;
  padding: 1rem 0 1rem 0;
  height: 4rem;
  color: #eb5757;
}
.sign-up-form .input-wrap input.error {
  border: 1px solid #eb5757;
}
.sign-up-form .input-wrap .id-wrap {
  display: flex;
  margin-top: 1rem;
}
.sign-up-form .input-wrap .id-wrap .user-name {
  width: 34.6rem;
  height: 5.4rem;
  margin-right: 1.2rem;
}
.sign-up-form .input-wrap .id-wrap .checked-id {
  background-color: #21bf48;
  padding: 1.7rem 3.1rem;
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 500;
  color: #fff;
  text-wrap: nowrap;
  border-radius: 0.5rem;
}
.sign-up-form .input-wrap .sign-up-pw-wrap,
.sign-up-form .input-wrap .checked-pw-wrap {
  position: relative;
}
.sign-up-form .input-wrap .sign-up-pw-wrap .sign-up-pw,
.sign-up-form .input-wrap .sign-up-pw-wrap .checked-pw,
.sign-up-form .input-wrap .checked-pw-wrap .sign-up-pw,
.sign-up-form .input-wrap .checked-pw-wrap .checked-pw {
  margin-top: 1rem;
}
.sign-up-form .input-wrap .sign-up-pw-wrap::before,
.sign-up-form .input-wrap .checked-pw-wrap::before {
  content: "";
  width: 2.8rem;
  height: 2.8rem;
  background-image: url(../src/assets/icon-check-off.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 4.3rem;
  right: 1.3rem;
}
.sign-up-form .input-wrap .sign-up-pw-wrap.on::before,
.sign-up-form .input-wrap .checked-pw-wrap.on::before {
  background-image: url(../src/assets/icon-check-on.svg);
}
.sign-up-form .input-wrap .sign-up-pw-wrap .sign-up-pw {
  margin-bottom: 1rem;
}
.sign-up-form .input-wrap #name {
  margin-bottom: 1.6rem;
  margin-top: 1rem;
}
.sign-up-form .input-wrap .contact-wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.sign-up-form .input-wrap .contact-wrap label {
  display: flex;
  flex-direction: column;
}
.sign-up-form .input-wrap .contact-wrap .contact-inp {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.2rem;
  margin-top: 1rem;
}
.sign-up-form .input-wrap .contact-wrap .contact-inp .select {
  display: inline;
  width: auto;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  line-height: 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
}
.sign-up-form .input-wrap .contact-wrap .contact-inp .select .selected {
  border: 1px solid #c4c4c4;
  border-radius: 0.5rem;
  width: 15.2rem;
  padding: 1.6rem 7.3rem 1.6rem 5rem;
  cursor: pointer;
}
.sign-up-form .input-wrap .contact-wrap .contact-inp .select .selected::before {
  content: "";
  background-image: url(../src/assets/icon-down-arrow.svg);
  position: absolute;
  right: 1.6rem;
  width: 2.2rem;
  height: 2.2rem;
}
.sign-up-form .input-wrap .contact-wrap .contact-inp .select ul {
  background-color: #fff;
  width: 15.2rem;
  height: 15rem;
  border: 1px solid #c4c4c4;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 0.6rem;
  position: absolute;
  top: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  box-sizing: border-box;
  z-index: 10;
}
.sign-up-form .input-wrap .contact-wrap .contact-inp .select ul::-webkit-scrollbar {
  background-color: #f2f2f2;
  width: 1.8rem;
}
.sign-up-form .input-wrap .contact-wrap .contact-inp .select ul::-webkit-scrollbar-thumb {
  background-color: #c4c4c4;
  border-radius: 1rem;
  border: solid 0.6rem #f2f2f2;
}
.sign-up-form .input-wrap .contact-wrap .contact-inp .select ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 4.5rem;
  padding: 1rem 0;
  width: inherit;
}
.sign-up-form .input-wrap .contact-wrap .contact-inp .select ul li:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13.4rem;
  background-color: #e0e0e0;
  cursor: pointer;
}
.sign-up-form .input-wrap .contact-wrap .contact-inp .select .none {
  display: none;
}
.sign-up-form .input-wrap .contact-wrap input {
  width: 15.2rem;
}
.sign-up-form .sign-up-checkd {
  width: 48rem;
  display: flex;
  margin-top: 2.4rem;
  cursor: pointer;
}
.sign-up-form .sign-up-checkd .txt-hide {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}
.sign-up-form .sign-up-checkd .label-hold {
  position: relative;
  top: 0.2rem;
  cursor: pointer;
}
.sign-up-form .sign-up-checkd .label-hold::before {
  content: "";
  display: inline-block;
  width: 1.6rem;
  height: 1.6rem;
  background-image: url(../src/assets/check-box.svg);
  background-repeat: no-repeat;
  margin-right: 1rem;
}
.sign-up-form .sign-up-checkd .label-hold::after {
  content: "";
  display: inline-block;
  width: 1.6rem;
  height: 1.6rem;
  background-image: url(../src/assets/check-fill-box.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.sign-up-form .sign-up-checkd .checkbox:checked + .label-hold::after {
  opacity: 1;
}
.sign-up-form .sign-up-checkd .agreed {
  font-size: 1.6rem;
  line-height: 2rem;
  color: #767676;
  cursor: pointer;
}
.sign-up-form .sign-up-checkd .agreed a {
  font-weight: 700;
  text-decoration: underline;
}
.sign-up-form .sign-up-submit {
  font-size: 1.8rem;
  line-height: 2.2rem;
  font-weight: 700;
  color: #fff;
  background-color: #21bf48;
  padding: 1.9rem 20.7rem;
  text-wrap: nowrap;
  border-radius: 0.5rem;
  margin-top: 3.2rem;
  margin-bottom: 11rem;
}
.sign-up-form .sign-up-submit:disabled {
  background-color: #c4c4c4;
}/*# sourceMappingURL=style.css.map */